body {
    margin: 0;
    background-color: #111;
    color: #fff;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    width: 80%;
    max-width: 800px;
    text-align: center;
}

canvas {
    display: block;
    width: 100%;
    height: auto;
}
